body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #23252C;
}

#appContainer {
    box-sizing: border-box;
    width: 317px;
    height: 750px;
    margin: auto;
    border-radius: 10px;
}

header {
    height: 317px;
}

main {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1B21;
}


#about_Interests {
    margin-top: 0;
    height: 201px;
    width: 247px;
}

h1 {
    font-size: 25px;
    color: white;
    margin-bottom: 0;
}

h3 {
    font-size: 13px;
    color: #F3BF99;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    font-size: 16px;
    color: #F5F5F5;
    margin-bottom: 0;
}

p {
    font-size: 10px;
    color: #F5F5F5;
    margin-top: 5px;
}

div p {
    color: #DCDCDC;
}

.btn {
    height: 34px;
    width: 115px;
    border-radius: 5px;
    border: none;
    margin: 5px;
}

#details {
    text-align: center;
}

#linkedin {
    background-color: #5093E2;
    color: white;
}

footer {
    background-color: #161619;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

footer img {
    width: 25px;
    height: 25px;
    color: #918E9B;
}